@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat+Alternates:wght@700&display=swap');$primary-color: #585666;
$primary-light: #B1B0B8;
$secondary-color: #FF941A;

$bg-color:linear-gradient(to bottom right, #e3f0ff, #fafcff);
$app-bg-color: #ffff;
$border: 1px solid #E3E3E6;

$primary-font: 'Montserrat Alternates', sans-serif;
$primary-font-size: 20px;

$secondary-font: 'Inter', sans-serif;
$secondary-font-size: 15px;

